@import "tailwindcss";

@theme {
  --color-teal-50: #f0fdfa;
  --color-teal-100: #ccfbf1;
  --color-teal-500: #14b8a6;
  --color-teal-600: #0d9488;
  --color-teal-700: #0f766e;
  --color-teal-800: #115e59;
}

body {
  background-color: #ffffff;
  color: #171717;
}
